# Editor configurations
.vscode

# Sphinx build
docs/doctrees
**/_build
## Sphinx translation (i18n)
*.mo

# Setuptools build
build/
dist/
*.egg-info/

# Python auxiliary files
__pycache__
*.pyc
*.pyo
